@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    direction: rtl;
  }

  #react-confirm-alert .react-confirm-alert .react-confirm-alert-body {
    text-align: right !important;
    direction: rtl !important;
  }
}
